<form [formGroup]="login" (ngSubmit)="onSubmit(login)" >
<div class="cont">
    <div class="form sign-in">
        <h2>Welcome back,</h2>
        <label class="form-group">
            <span>Email</span>
            <input class="form-control" type="email" formControlName="email" >
            <!--<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
               <p class="email-error">Email is required</p> 
            </div>-->
        </label>
        <label class="form-group">
            <span>Password</span>
            <input class="form-control" type="password" formControlName="password">
        </label>
        <p class="forgot-pass">Forgot password?</p>
        <nav><button  type="submit" class="submit" >Sign In</button></nav>
        <button type="button" class="fb-btn" (click)="login()">Connect with <span>facebook</span></button>
        
    </div>

</div>

<div class="sub-cont">
    <div class="img">
        
    </div>
</div>

</form>

<!--<div [hidden]="!submitted">
    <h2>Thank you for logging in!</h2>
    <button>Home page</button>
    </div> -->
