<form (ngSubmit)="onSubmit(loginForm.value)" #loginForm="ngForm"></form>
<div class="cont">
    <div class="form sign-in">
        <h2>Welcome back,</h2>
        <label>
            <span>Email</span>
            <input class="form-control" #email="ngModel" id="email" required email="true" type="email" name="email" ngModel>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
               <p class="email-error">Email is required</p> 
            </div>
        </label>
        <label>
            <span>Password</span>
            <input class="form-control" id="password" required type="password" name="password" ngModel>
        </label>
        <p class="forgot-pass">Forgot password?</p>
        <button type="submit" class="submit" (click)="onSubmit(loginForm.value)" [disabled]="!loginForm.form.valid">Sign In</button>
        <button type="button" class="fb-btn" (click)="login()">Connect with <span>facebook</span></button>
        
    </div>

</div>

<div class="sub-cont">
    <div class="img">
        
    </div>
</div>



<!--<div [hidden]="!submitted">
    <h2>Thank you for logging in!</h2>
    <button>Home page</button>
    </div> -->
